body {
  font-family: sans-serif;
}

h1 {
  color: #7c1b3f;
}

#solHighlight {
  background-color: #ffedb6;
}

#lunaHighlight {
  background-color: #dddbd4;
}

#mercuryHighlight {
  background-color: #fff8bc;
}

#venusHighlight {
  background-color: #d9ffd9;
}

#marsHighlight {
  background-color: #f8dddd;
}

#jupiterHighlight {
  background-color: #d2eaf8;
}

#saturnHighlight {
  background-color: #c8c8c8;
}

#uranusHighlight {
  background-color: #ded6ff;
}

#neptuneHighlight {
  background-color: #f2d1f8;
}

#plutoHighlight {
  background-color: #f4d4c7;
}

.retrograde {
  color: #ff0036;
}

#planetaryTable tbody tr:nth-child(odd) {
  background-color: #ededed;
}

#planetaryTable tbody tr:nth-child(even) {
  background-color: #cfcfcf;
}

.lucky {
  color: #009626;
}

.unlucky {
  color: #ff0036;
}

.neutral {
  color: #000;
}
